image: node:20-bookworm-slim

stages:
  - build
  - qa

include:
  - local: /_ci/01-build.yml
  - local: /_ci/02-qa.yml

default:
  tags:
    - dind

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      variables:
        PIPELINE_TYPE: master
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      variables:
        PIPELINE_TYPE: merge_request

.only_master:
  environment: staging
  rules:
    - if: '$PIPELINE_TYPE == "master"'

.only_merge_requests:
  environment: staging
  rules:
    - if: '$PIPELINE_TYPE == "merge_request"'

.needs_nothing:
  needs: []

.needs_build:
  needs:
    - build
